body {
  background-image: url(../assets/shogiPageAccueilBackground.png);
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.square-box {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.897); /* Fond transparent */
  border: 2px solid #000; /* Bordure de 2px solide */
  border-radius: 10px; /* Bordure arrondie */
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 20px;
}

button {
  padding: 12px 24px;
  background-color: #000;
  color: beige;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
