body {
  font-family: Cambria, Georgia, serif;
  background-image: url(../assets/backgroundProfil.jpeg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.profileInfo {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.profileDetails {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.utilisateurDetails {
  flex-grow: 1;
}

.utilisateurDetails h2 {
  margin-top: 0;
}

.stats {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.statsObjet {
  margin-bottom: 10px;
}

.statsObjet h3 {
  margin-top: 0;
}

.paramètre {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.paramètre button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paramètre button:hover {
  background-color: #0056b3;
}
