body {
  font-family: Arial, sans-serif;
  background-image: url(../assets/inscriptionBackground.jpg);
  background-size: cover;
}

.connexion {
  font-family: Arial, sans-serif;
  display: flex;
  margin: 0;
  padding: 0;
}

.container {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 4px solid rgba(41, 41, 41, 0.5);
  border-radius: 15px;
  margin: auto;
  text-align: center;
  margin-top: 150px;
}

h1 {
  text-align: center;
  margin: auto;
  color: #bc0606;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"] {
  width: 300px;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 300px;
  padding: 12px;
  background-color: #bc0606;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
