body {
  background-image: url(../assets/shogiPageAccueilBackground.png);
  background-size: cover;
  background-attachment: fixed;
  font-family: Cambria, Georgia, serif;
  margin: 0;
  padding: 0;
}

.pageJeu {
  background-image: url(../assets/inscriptionBackground.jpg);
  background-size: cover;
}

.titre {
  height: 9%;
  display: flex;
  justify-content: center;
}

.plateau {
  display: inline;
}

.tuile {
  width: 5em;
  height: auto;
}

.tuileEnvers {
  width: 5em;
  height: auto;
  transform: scaleY(-1);
}

#tableauContainer {
  display: flex;
  justify-content: center;
}
