body {
  background-image: url(../assets/shogiPageAccueilBackground.png);
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

section {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.square-box {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.titre {
  font-size: 24px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.section-links {
  text-align: center;
}

img {
  width: 350px;
  margin: 50px;
  filter: none;
}

.image-link:hover img {
  filter: blur(4px);
}

.image-link {
  position: relative;
  display: inline-block;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.4s ease;
  color: rgb(255, 0, 0);
  font-size: 64px;
}

.image-link:hover .hover-text {
  opacity: 1;
}
