.pageJeu{
    background-image: url(../assets/inscriptionBackground.jpg);
    background-size: cover;
}

.titre{
    height: 9%;
    display: flex;
    justify-content: center;
}

.plateau{
    height: 90%;
}

.tuile{
    width: 5em;
    height: auto;
}

.tuileEnvers{
    width: 5em;
    height: auto;
    transform: scaleY(-1);
}

#tableauContainer{
    display: flex;
    justify-content: center;
}